<div class=" shadow  text-center justify-content-center w-100 d-flex  " style=" position: fixed ;
      bottom: 0rem; background-color: rgb(255, 255, 255); left: 0px; border: 1px  rgb(169, 169, 169)  solid; border-radius: 1.5rem 1.5rem 0 0;">

<!-- <a class="nav-link me-4  m-3" href="/create"><i class="fa-solid fa-circle-plus" style="  font-size: 1.6rem; color: rgb(255, 255, 255)"></i></a> -->

<div class="rounded-circle text-center d-flex m-2 shadow" style="width: 50px; height: 50px; align-items: center; background-color: mediumseagreen;">
<a class="nav-link   m-1" href="/notification/<%= number %>">
      <i class="fa-solid fa-bell" style=" font-size:1rem; color:rgb(255, 255, 255); "></i>
</a>
</div>

<div class="rounded-circle text-center d-flex m-2 shadow" style="width: 50px; height: 50px; align-items: center; background-color: mediumseagreen;">
      <a class="nav-link " href="/home/<%= number %>">
            <i class="fa-solid fa-house me-1 " style=" font-size: 1rem; color: rgb(255, 255, 255)"></i></a>
</div>

<div class="rounded-circle text-center d-flex m-2 shadow" style="width: 50px; height: 50px; align-items: center; background-color: mediumseagreen;">

<a class="nav-link rounded-circle " href="https://youtu.be/umKE2u6kKGQ">
      <i  class="fa-brands fa-youtube" style=" font-size: 1rem; color: rgb(255, 255, 255)"></i></a>
</div>

<div class="rounded-circle text-center d-flex m-2 shadow" style="width: 50px; height: 50px; align-items: center; background-color: mediumseagreen;">

      <a class="nav-link rounded-circle m-1" href="/">
            <i class="fa-solid fa-right-from-bracket mt-1" style=" font-size: 1rem; color: rgb(255, 255, 255)"></i></a>
      </div>
      
</div>