<!DOCTYPE html>
<html lang="en">
    <%- include('header.ejs') %>

    
    <title>Logout Page</title>

<body class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center m-2 ">
        <h2>Do You Want To Logout?</h2>
        <a href="/deletesession" class="btn btn-dark  mt-3">Logout</a>
    </div>
</body>
</html>
