<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body style="font-family: 'Rubik', sans-serif;" >
    <%- include('./partials/navbar.ejs') %>

    <div class="container">
        <div class="row mt-2">
          <div class="col">
            <!-- Big Div -->
            <div class=" mx-2 p-3 border bg-light" style="border-radius: 0.5rem;">
                <div class="text-center">
                 
                </div>

            </div>
          </div>
        </div>

        


        <div class="" style="margin-top: 5rem;">
        <div class="row mt-4 ">
          <div class="col-6">
            <!-- Small Div 1 -->
            <div class=" mx-2 p-3 border bg-light" style="border-radius: 1rem;">
                <div class="text-center">
                    <i class="fa-brands fa-whatsapp" style=" font-size:4rem; color:lightgreen; "></i>              
                    <h5 class="fw-bold text-muted mt-2" >Chat Us</h5>
                </div>

            </div>
          </div>
          <div class="col-6">
            <!-- Small Div 2 -->
            <div class=" mx-2 p-3 border bg-light" style="border-radius: 1rem;">
                <div class="text-center">
                    <i class="fa-solid fa-lightbulb" style=" font-size:4rem; color:gold; "></i>              
                    <h5 class="fw-bold text-muted mt-2" >Query</h5>
                </div>

            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-6">
            <!-- Small Div 3 -->
            <div class=" mx-2 p-3 border bg-light" style="border-radius: 1rem;">
                <div class="text-center">
                    <i class="fa-solid fa-user" style=" font-size:4rem; color:blue; "></i>              
                    <h5 class="fw-bold text-muted mt-2" >Chat Us</h5>
                </div>

            </div>
          </div>
          <div class="col-6">
            <!-- Small Div 4 -->
            <div class=" mx-2 p-3 border bg-light" style="border-radius: 1rem;">
                <div class="text-center">
                    <i class="fa-solid fa-bell" style=" font-size:4rem; color:gold; "></i>              
                    <h5 class="fw-bold text-muted mt-2" >Chat Us</h5>
                </div>

            </div>
          </div>
        </div>
        </div>




      </div>
      
</body>
</html>