<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body style="font-family: 'Rubik', sans-serif;   background-image: url('/uploads/pattern3.png'); background-color: white; background-repeat: repeat; background-size: contain;">
  
  <div class="container d-flex justify-content-center align-items-center " style="height:60vh;">
    <div class="row">
      <div class="col">
        <form action="sendcode" method="POST">
          <div class="d-flex justify-content-center mb-3" style="flex-direction: column;">
            <h1>Enter Your </h1> 
            <h1>Whatsapp Number</h1>
           
            <input style=" font-size: 1.5rem;" type="tel" name="phonenumber" id="number" class="form-control" placeholder="+91" required>
          
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Send Code</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</body>
</html>
