<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body style="font-family: 'Rubik', sans-serif;">

    <div class="container">
        <form action="" method="post">
            <h2>Login Admin</h2>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" id="name" class="form-control">
            </div>
            <div class="mb-3">
                <label for="adminpass" class="form-label">Password</label>
                <input type="password" name="adminpass" id="adminpass" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>


</body>

</html>
